Welcome to your first warm up assignment inside your new groups! As usual one of you should start up a Zoom call and work together with your new teammates to complete the following assignment.

# Concepts

#### 1. In the term "natural language processing" what is meant by the word "natural"?

#### 2. What are stop words?

#### 3. What is the difference between stemming and lemmatization?

#### 4. Why do we need to apply these techniques to text data?

#### 5. What are some use cases for NLP that you can think of?

## Code

Let's load in the data that we will be using for this assignment

In [3]:
import pandas as pd

coffee_reviews = pd.read_csv('https://raw.githubusercontent.com/DS-17/DS-Unit-4-Sprint-1-NLP/main/module1-text-data/data/yelp_coffeeshop_review_data.csv')

coffee_reviews = coffee_reviews[['full_review_text']]

coffee_reviews.head()

                                    full_review_text
0   11/25/2016 1 check-in Love love loved the atm...
1   12/2/2016 Listed in Date Night: Austin, Ambia...
2   11/30/2016 1 check-in Listed in Brunch Spots ...
3   11/25/2016 Very cool decor! Good drinks Nice ...
4   12/3/2016 1 check-in They are located within ...

### Extract the date from the reviews and place it into its own column

In [4]:
df.full_review_text = df.full_review_text.str.strip()
df['data'], df['full_text_review'] = df.full_review_text.apply(lambda x: x.split()[0])
df

NameError: ignored

### Make a column that denotes how many characters are in the text review

### Make a column that denotes how many 'words' are in the text review

### Make a column that denotes how many unique words are in each text review (hint: `set()`)

### Make a column for the average word length

### Remove punctuation from text reviews

### Make all characters in the review lower-case